recursive-include invenio_initial_theses_conversion *.csv
recursive-include invenio_initial_theses_conversion *.txt
recursive-include invenio_initial_theses_conversion *.json
recursive-include tests *.xml
