oarepo[deploy-es7,models,taxonomies,draft]==3.2.1.2
-e ../invenio-initial-theses-conversion
-e ../invenio-nusl-taxonomies
-e ../invenio-nusl-theses
flask-login<0.5
Werkzeug==0.16.1
webargs==5.5.3
-e ../invenio-nusl
-e ../invenio-nusl-common
-e ../flask-taxonomies-es
